<%= form_with model: [book,book_comment], method: :post, local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, rows:'5', class: "w-100 form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn-md float-right btn-outline-primary" %>
  </div>
<% end %>